.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: '';
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.dv {
  display: inline-block;
  vertical-align: middle;

  display: inline;
  zoom: 1;
}
.di {
  display: inline-block;

  display: inline;
  zoom: 1;
}

.cl {
  overflow: hidden;

  zoom: 1;
}

.text-hide {
  border: 0;
  background-color: transparent;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  display: inline;
  zoom: 1;
}
.btn:hover {
  text-decoration: none;
}
