header{
    border-bottom: 3px solid #16a085;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
}
header .container{
    width: 1180px;
    margin: 0 auto;
}



header .navbar{
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
header .navbar .logo{
    font-weight: bold;
    margin-right: 20px;
    color: #2ecc71;
    font-size: 1.3rem;
}

header .navbar .collapse{
    display: flex;
    flex-grow: 1;
}
header .navbar .collapse .links{
    display: flex;
    margin-right: auto;
}

header .navbar .collapse .links a{
    margin: 0 10px;
    color: #777;


}

header .navbar .collapse .form{

}
header .navbar .collapse .form a{
    border: 1px solid #1abc9c;
    border-radius: .3rem;
    padding: .3rem 1rem;
    color: #1abc9c;
}

header .navbar .collapse .form a.login{
    background-color:  #1abc9c;;
    color: #fff;
}


@media only screen and (max-width: 960px){
    header .container{
        width: 758px;
        margin: 0 auto;
    }
    header .navbar .collapse{
        display: none;
    }
}



/* @media only screen and (max-width: 120){
    header .container{
        width: 758px;
        margin: 0 auto;
    }
} */
