.bottom-nav{
    display: none;
}
header {
  z-index: 99;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

header .navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
}
header .navbar .logo {
  font-weight: bold;
  margin-right: 20px;
  color: rgba(231, 76, 60,.8);

  font-size: 1.3rem;
}
header .navbar .logo + label {
  display: none;
}
header .navbar .logo + label + input {
  display: none;
}
header .navbar .logo + label + input:checked + .collapse {
  display: flex;
}
header .navbar .collapse {
  display: flex;
  flex-grow: 1;
}
header .navbar .collapse .links {
  display: flex;
  margin-right: auto;
}
header .navbar .collapse .links li {
  margin: 10px 10px;
}
header .navbar .collapse .links a {
  color: #777;
}
header .navbar .collapse .form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
header .navbar .collapse .form * {
    margin-left: 5px;
}
header .navbar .collapse .form button.login-btn{
    border: 1px solid rgba(231, 76, 60,.8);
    border-radius: .3rem;
    padding: .3rem 1rem;
    background-color: #fff;
    font-size: 1rem;
    color: rgba(231, 76, 60,.8);
    cursor: pointer;
}
header .navbar .collapse .form button.login-btn:hover{

}
header .navbar .collapse .form a {
  border: 1px solid rgba(230, 126, 34,1.0);
  border-radius: .3rem;
  padding: .3rem 1rem;
  color: rgba(230, 126, 34,1.0);
}
header .navbar .collapse .form a.signin {
  background-color: rgba(231, 76, 60,.8);
  color: #fff;
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
  /* header .container {
    width: 758px;
    margin: 0 auto;
  } */
  header .navbar {
    flex-flow: row wrap;
  }
  header .navbar .logo {
    margin-right: auto;
  }
  header .navbar .logo + label {
    display: block;
  }
  header .navbar .logo + label i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  header .navbar .collapse {
    display: none;
    flex-flow: column;
    width: 100%;
  }
  header .navbar .collapse .links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header .navbar .collapse .links li {
    margin: .5rem 0;
  }
}


@media only screen and (max-width: 768px) {
  header .navbar {
    flex-flow: row wrap;
  }
  header .navbar .logo {
    margin-right: auto;
  }
  header .navbar .logo + label {
    display: block;
  }
  header .navbar .logo + label i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  header .navbar .collapse {
    display: none;
    flex-flow: column;
    width: 100%;
  }
  header .navbar .collapse ul.links{
      display: none;
  }
  header .navbar .collapse .links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header .navbar .collapse .links li {
    margin: .5rem 0;
  }

  header .navbar .collapse .form{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem 0;
  }




  .bottom-nav{
      z-index: 99;
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      border-radius: 3px 3px 0 0;
      background-color: #fff;
      box-shadow: 0 5px 8px #000;

  }

  .bottom-nav div{

  }
  .bottom-nav div a{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .4rem;
    color: #aaa;

  }
  .bottom-nav div a.active{
      color: #e67e22;
      /* color: #f39c12; */
  }
  .bottom-nav div a i{
      font-size: 1.5rem;
  }

    /* .bottom-nav div a i.active{
        color: #f39c12;
    } */

    .bottom-nav div{
        width: auto;
    }


    [class*="col-"]{
        font-size: 50px;
    }

  .bottom-nav div:hover{
      /* background-color: #333; */
  }
}





/* @media only screen and (max-width: 120){
    header .container{
        width: 758px;
        margin: 0 auto;
    }
} */
