


html,body,p,h1,h2,h3,h4,h5,h6,ul{
	margin: 0;
	padding: 0;
}


li {
  list-style: none;
}

ul,ol,li{
    list-style-type:none;
}


img{
	vertical-align: middle;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


i{
	font-style: normal;
	vertical-align: middle;
}

[hidden] {
  display: none;
}


:focus {
  outline: none;
}
:link,
:visited {
  text-decoration: none;
}

a {
  color: #757575;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  outline: 0;
}

select,input,textarea,button{
	outline: none;
	vertical-align: middle;
}
input::-webkit-input-placeholder{
    color: #ccc;
}
input::-ms-input-placeholder{
    color: #ccc;
}
input::-moz-placeholder{
    color: #ccc;
}
button[disabled], input[disabled] {
    cursor: not-allowed;
}





input{
    padding: 0;
}


input[type=submit],input[type=button]{
    cursor: pointer;
}

button{
    padding: 0;
}
/* a:hover {
  color: #ff6700;
} */
/*

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

input::-ms-clear{
    display:none;
}
input::-ms-reveal{
    display:none;
}



*/



*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
