.info-body{
    pointer-events: none; /*阻止元素的点击事件*/
    user-select: none; /*用户是否可以选择文本*/
    /* overflow:hidden; */
}

#mask{
    /* display: block; */
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    width: 100%;
    height: 100%;



    background-color: rgba(50, 50, 50, .5);
    z-index: 9999;
}


#info-Form{
    /* display: block; */
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888;
    z-index: 99999;
    background: #ddd;
}

#info-Form .inner-content{
    position: relative;
    width: 100%;
    height: 100%;
}

#info-Form .inner-content .close-btn{
    position: absolute;
    right: 0;
    width: auto;
    height: auto;

}

#info-Form .inner-content .close-btn i{
    margin-right: 0;
    font-size: 25px;
}

#info-Form .inner-content .close-btn i:hover{
    color: red;
}
