html,body,p,h1,h2,h3,h4,h5,h6,
form,
table,th,td,
ul,ol,dl,li,dt,dd,{
	margin: 0;
	padding: 0;
}


a{
    color: #333;
    text-decoration:none;
}
a:link{
    color:#fff;
}
a:visited{
    color:#fff;
}
a:hover{
    color:#fff;
}
a:active{
    color:#fff;
}
select,input,textarea,button{
	/*清除外框，用于自定义的前置操作*/
	outline: none;
	vertical-align: middle;
}
input::-ms-clear{
    display:none;
}
input::-ms-reveal{
    display:none;
}
input{
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder{
    color: #ccc;
}
input::-ms-input-placeholder{
    color: #ccc;
}
input::-moz-placeholder{
    color: #ccc;
}

input[type=submit],input[type=button]{
    cursor: pointer;
}

button{
    -webkit-appearance:none;
    padding: 0;
    margin: 0;
}
button[disabled], input[disabled] {
    cursor: default;
}
img{
    border:none;
	vertical-align: middle;
}
ul,ol,li{
    list-style-type:none;
}

i{
	/*i标签作为字体图片使用，使用em标签实现斜体*/
	font-style: normal;
	vertical-align: middle;
}
