.lc-btn{
    box-sizing:border-box;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
    text-transform: none;
    outline: none;
    border: none;
    text-align: center;
    white-space:nowrap;
    overflow: visible;
    color: #fff;
    cursor: pointer;
}
.btn-xs{
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 5px;
}
.btn-m{
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    padding: 0 7px;
}
.btn-lg{
    height: 50px;
    width: 150px;
    /* line-height: 50px; */
    font-size: 25px;
    /* padding: 0 7px; */
}
.btn-del{
    background-color: #e74c3c;
}
.btn-normal{
    background-color: #3498db;
}
.btn-warring{
    background-color: #f39c12;
}
.btn-style{
    background-color: #ff6700;
}

@keyframes fadeout{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-600px);
        opacity: 0;
    }
}

.fadeout{
    transform: translateX(0);
    opacity: 1;
    animation: fadeout .5s ease;
    animation-fill-mode: forwards;
}
