@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 800px;
    min-height: 900px;
    box-shadow: 0 0 10px rgba(52, 73, 94, .3);
    background-color: rgba(52, 152, 219, .1);
    overflow: hidden;
}
.main-container .main-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
}
.main-container .main-header #timer{
    padding: 2px 8px;
    border-radius: 15px;
    font-weight: 600;
}
.main-container .main-header .search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 35%;
    padding: 3px 8px;
    border: 1px solid #aaa;
    border-radius: 20px;
}
.main-container .main-header .search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 5%;
    color: #000;
    border-radius: 100%;
}
.main-container .main-header #search-txt{
    width: 92%;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #7f8c8d;
    font-size: 13px;
}


.main-container .main-header #more{
    position: relative;
    padding: 0 5px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
}
.main-container .main-header #more i{
    font-size: 20px;
}
.main-container .main-header #more-child{
    display: none;
    position: absolute;
    top: 36px;
    right: -20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #aaa;
    z-index:99;
}
.main-container .main-header #more-child>div{
    width: 150px;
    border: 1px solid #aaa;
    padding: 10px 0;
}
.main-container .main-header #more-child>div:hover{
    background-color: #ddd;
}
.main-container .main-header #more-child a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.main-container .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    max-height: 90vh;
    padding: 10px 10px 50px 10px;
    background-color: rgba(52, 152, 219, .1);
    /* overflow-y: scroll; */
    overflow-y: auto;
}
